h1 {
  color: black;
  font-size: 36px;
  text-align: center;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-inner > .item > img{
  width:640px;
  height:360px;
}
#title8 {
  font-family: 'Fjalla One', sans-serif;
  background-color: lightblue;
}
#promo {
  text-align: center;
}
h2 {
  text-align: center;
}
#title9 {
  font-family: 'Fjalla One', sans-serif;
}
.image_circle {
  border-radius: 50%;
}
