body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(Iceland.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
#summary {
   color:blue;
   font-size: 96px;
}
.awesome {
  color:blue;
  font-size:36px;
}
